header {
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: url("../img/space.jpg");
    
}
img {
    height: 20%;
    width: 20%;
    position: static;
}
body {
    background-image: url("../img/sun-pattern.png");
}
#about-me,
.skills {
    background-color: whitesmoke;
    text-align: center;
    padding: 40px;
}
h5 {
    padding-top: 20px;
}
footer {
    position: relative;
    bottom: 0;
    text-align: center;
}